//- ----- Page 6: This is the New Story page  ----- 

extends ../../layout

block moreHead
  script(src="/js/Actions.js")
  script(src="/js/Visuals.js")
  script(src="/js/CuratorTopicPage.js")
  link(href='/style/study.css', rel="stylesheet", type='text/css') 
  
block content  
  //-link(href='/style/landing.css', rel="stylesheet", type='text/css')  
  script.      
    const TOPICDATA = !{JSON.stringify(topic)};
    const taskRun = !{JSON.stringify(taskRun)};
    //- console.log(#{topic.claim}))



  #mainContent.container(style="background: white; margin-top:0px;")

    h2(style="text-align: center; font-weight:lighter; margin-top: 32px;") News Story (#{taskRun.current_selected_topic}/#{taskRun.totalStories})
       
    div.claim
      h1#claimHeader.highlight-off #{topic.claim_id}
      
      div.explainies.toggables
            
        #claimPrediction.explainable.lvl-one.closed.toggle-butt.hidden(onclick="TopicPage.toggleClaimPrediction();" style="border-radius: 4px;")
          .header
            .label AI prediction for this story:
            .right-icon
              img(src="/img/baseline-keyboard_arrow_down-24px.svg")
          .content
            p AI is  
              span.fancy-number #{topic.confidences.overall} 
              |  sure that this news story is:
              #predicitonText.true-false-text #{topic.prediction}

        #claimWords.explainable.lvl-two.toggle-butt.off.hidden(onclick="TopicPage.toggleClaimWords();" style='flex: 0.8;')
          .header
            div.left-switch
              label.switch
                input#claimWordsSwitch(type="checkbox" onclick="TopicPage.toggleClaimWords();")
                  //-  checked="true"
                span.slider.round
            div.right-label  Explain keywords for this prediction

        #claimConfidences.explainable.lvl-three.closed.toggle-butt.hidden(onclick="TopicPage.toggleClaimConfidences();" style="border-radius: 4px;")
          .header
            .label Explanations for this prediction
            //- How AI came up with this prediction? 
            .right-icon
              img(src="/img/baseline-keyboard_arrow_down-24px.svg")
          .content
            p
            div Features Importance for this prediction:
            table
              //- tr
                //- td.left-label Words Importance:
                //- td
                //-   label.switch
                //-     input#claimWordsSwitch(type="checkbox" onclick="TopicPage.toggleClaimWords();") 
                //-     span.slider.round
              //- tr 
              //-   td.model-confidence Articles Importance:
              tr
                td.model-confidence Story headline:  
                td
                  span.fancy-number #{topic.confidences.model_1}
              tr
                td.model-confidence Related Articles: 
                td
                  span.fancy-number #{topic.confidences.model_2_4}
                  //- model_2
              tr
                td.model-confidence Relevance of Articles: 
                td
                  span.fancy-number #{topic.confidences.model_3}
              //- tr
              //-   td.model-confidence Related Article:
              //-   td
              //-     span.fancy-number #{topic.confidences.model_4}          

    // div.cred
      span Credibility
      p #{topic.credibility}
      
    // div.origins
      span Origins
      p.maybe-too-big #{topic.origins}

    //div.last-updated
      span Last Updated
      p #{topic.last_updated}
              
    // div.links
      span Referred Links
      each link in topic.referred_links
        a(target='_blank' href=link)= link
      
    // div.tags
      span Tags
      each tag in topic.tags
        p= tag
      
    // div.snopes-link
      a(target='_blank' href=topic.url) Snopes Page
      
    // div.articles
      span Article Count
      p #{topic.articles.length}
    
    -var articleCount = topic.articles.length
    
    .centered(style="text-align:center;") 
      h3.sub-header(style="text-align:center; width: -webkit-fill-available;") #{topic.articles.length} Articles
      p Please select one or more true articles which represent credibility of this news story. 
      p You can also skip this story if it seems fake or you are not sure about it.
      // button#continueButton.btn.btn-success.disabled(onClick="window.location='/study/next/selected'", style="") Select This Story
      button#continueButton.btn.btn-success.disabled(onClick="Actions.selectStory(event)", style="") Select This Story
      // button#skipButton.btn.btn-success(onClick="window.location='/study/next/skipped'", style="margin-left: 32px;") Skip to Next
      button#skipButton.btn.btn-success(onClick="Actions.skipStory(event)", style="margin-left: 32px;") Skip to Next
      // div.choose.btn.btn-outline-success(onclick="Actions.chooseArticle(event)", data-article_id=article._id, style="float: right;") Select
    br
    #articleList
      each article in topic.articles
        div.article-box(style='opacity: 0;')        
          h3= article.title
          div.domain
            | By:
            img(src="http://www.google.com/s2/favicons?domain="+article.domain)
            div= article.domain
          // div.link-type
            span Link Type
            p= article.link_type
          //div.link
            span Link
            p= article.
          //div.number Relevance       
            div.relevanceScore.lil-box 58%
          //div.number Source Credibility    #articleImportance   
            div.sourceCredibilityScore.lil-box 16%
            
          .article-explainable.articleRel.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='article relevance' onclick="Visuals.toggleExplainable(event);")
            .header
              .label Article relevance: 
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.claim
                .number-description.article-relevance relevant
              
          .article-explainable.articleQly.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='article quality' onclick="Visuals.toggleExplainable(event);")
            .header 
              .label Article importance:
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.article
                .number-description.article-quality quality
                
          .article-explainable.sourceCrd.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='source credibility' onclick="Visuals.toggleExplainable(event);")
            .header
              .label Source importance:
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content              
              .centerer
                .lil-box.fancy-number= article.importance.article_source
                .number-description.source-credibility credibility

          .article-explainable.sourceRel.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='source relevance' onclick="Visuals.toggleExplainable(event);")
            .header
              .label Source relevant:
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.claim_source
                .number-description.source-relevance relevant

          .button-row
            div.read.btn.btn-outline-secondary(onclick="Actions.inspectArticle(event)", data-article_id=article._id) Inspect
                              
            div.choose.btn.btn-outline-success(onclick="Actions.chooseArticle(event)", data-article_id=article._id, style="float: right;") Select

    script TopicPage.init()