//- ----- Page 6: This is the New Story page  ----- 

extends ../../layout

block moreHead
  script(src="/js/Actions.js")
  script(src="/js/Visuals.js")
  script(src="/js/CuratorTopicPage.js")
  link(href='/style/study.css', rel="stylesheet", type='text/css') 
  
block content  
  //-link(href='/style/landing.css', rel="stylesheet", type='text/css')  
  script.      
    const TOPICDATA = !{JSON.stringify(topic)};
    const taskRun = !{JSON.stringify(taskRun)};
    //- console.log(#{topic.claim}))



  #mainContent.container(style="background: white; margin-top:0px;")

    h2(style="text-align: center; font-weight:lighter; margin-top: 32px;") News Story
      
    div.claim
      h1#claimHeader.highlight-off #{topic.claim_id}
      
      div.explainies.toggables
        #claimWords.explainable.lvl-two.toggle-butt.off.hidden(onclick="TopicPage.toggleClaimWords();" style='flex: 0.8;')
          .header
            div.left-switch
              label.switch
                input#claimWordsSwitch(type="checkbox")
                span.slider.round
            div.right-label  Show key words in the story's title
            
        #claimPrediction.explainable.lvl-one.open.toggle-butt.hidden(onclick="TopicPage.toggleClaimPrediction();" style="border-radius: 4px;")
          .header
            .label AI prediction for this story:
            .right-icon
              img(src="/img/baseline-keyboard_arrow_down-24px.svg")
            
          .content
            p We think that this news story is:
              #predicitonText.true-false-text #{topic.prediction}
        #claimConfidences.explainable.lvl-three.closed.toggle-butt.hidden(onclick="TopicPage.toggleClaimConfidences();" style="border-radius: 4px;")
          .header
            .label How we came up with our prediction?
            .right-icon
              img(src="/img/baseline-keyboard_arrow_down-24px.svg")
          .content
            p We are 
              span.fancy-number #{topic.confidences.overall} 
              |  sure that this news story is #{topic.prediction} 
            div There are a few factors which go into our prediction:
            table
              tr
                td.model-confidence Related articles :  
                td
                  span.fancy-number #{topic.confidences.model_1}
              tr
                td.model-confidence Story's origin : 
                td
                  span.fancy-number #{topic.confidences.model_2}
              tr
                td.model-confidence Story's information : 
                td
                  span.fancy-number #{topic.confidences.model_3}
              tr
                td.model-confidence Article Contents :
                td
                  span.fancy-number #{topic.confidences.model_4}          
            
        
    // div.cred
      span Credibility
      p #{topic.credibility}
      
    // div.origins
      span Origins
      p.maybe-too-big #{topic.origins}

    //div.last-updated
      span Last Updated
      p #{topic.last_updated}
              
    // div.links
      span Referred Links
      each link in topic.referred_links
        a(target='_blank' href=link)= link
      
    // div.tags
      span Tags
      each tag in topic.tags
        p= tag
      
    // div.snopes-link
      a(target='_blank' href=topic.url) Snopes Page
      
    // div.articles
      span Article Count
      p #{topic.articles.length}
    
    -var articleCount = topic.articles.length
    
    .centered(style="text-align:center;")
      h3.sub-header(style="text-align:center; width: -webkit-fill-available;") #{topic.articles.length} Articles
      p Please select the best articles which represent this news story. You must select at least 2 articles to continue. 
      button#continueButton.btn.btn-success.disabled(onClick="window.location='/study/next'", style="") Continue to next news story
    br
    #articleList
      each article in topic.articles
        div.article-box(style='opacity: 0;')        
          h3= article.title
          div.domain
            | By:
            img(src="http://www.google.com/s2/favicons?domain="+article.domain)
            div= article.domain
          // div.link-type
            span Link Type
            p= article.link_type
          //div.link
            span Link
            p= article.
          //div.number Relevance       
            div.relevanceScore.lil-box 58%
          //div.number Source Credibility     
            div.sourceCredibilityScore.lil-box 16%
            
          .article-explainable.hidden.lvl-two.closed(data-articleId=article._id data-explainable='article importance' onclick="Visuals.toggleExplainable(event);" style="height: 64px;")
            .header
              .label How important is the article compared to the other articles?
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.article_relevance
                .number-description.article-importance importance
            
          .article-explainable.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='article relevance' onclick="Visuals.toggleExplainable(event);")
            .header
              .label How relevant is the article?
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.claim
                .number-description.article-relevance relevant
              
          .article-explainable.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='article quality' onclick="Visuals.toggleExplainable(event);")
            .header 
              .label Is the article high quality?
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.article
                .number-description.article-quality quality
                
          .article-explainable.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='source credibility' onclick="Visuals.toggleExplainable(event);")
            .header
              .label How credible is the source?
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content              
              .centerer
                .lil-box.fancy-number= article.importance.article_source
                .number-description.source-credibility credibility
              
          .article-explainable.hidden.lvl-three.tiny-info.closed(data-articleId=article._id data-explainable='source relevance' onclick="Visuals.toggleExplainable(event);")
            .header
              .label How relevant is the source to this news story?
              .right-icon
                img(src='/img/baseline-arrow_forward_ios-24px.svg')
            .content
              .centerer
                .lil-box.fancy-number= article.importance.claim_source
                .number-description.source-relevance relevant
              
                        
          .button-row
            div.read.btn.btn-outline-secondary(onclick="Actions.inspectArticle(event)", data-article_id=article._id) Inspect
                              
            div.choose.btn.btn-outline-success(onclick="Actions.chooseArticle(event)", data-article_id=article._id, style="float: right;") Select

    script TopicPage.init()